
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  font-size: 1em;
}

body {
  background: #ffffff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
}

a {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #066D3E;
}

a:hover{
  color: #066D3E;
  font-weight: 600;
  text-decoration: none;
}

.probootstrap-nav ul li.active a{
  color: #066D3E;
}

.probootstrap-nav ul li.active a:hover{
  color: #066D3E;
}

a.hover-reverse:hover, a.hover-reverse:focus, a.hover-reverse:active {
  color: #00213D;
  text-decoration: none;
}

.probootstrap-header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  z-index: 12;
  position: absolute;
  top: 0;
}

.probootstrap-mobile-menu-active.show .probootstrap-nav {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.probootstrap-main-nav {
  margin: 0;
  padding: 0;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav {
  float: left;
  margin-top: 40px;
  width: 100%;
}

.probootstrap-main-nav li {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  display: inline;
  font-size: 18px;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li {
  margin-bottom: 10px;
  display: block;
  padding-left: 0;
  padding-right: 0;
}

.probootstrap-right-nav li a{
  font-weight: bold;
  color:#B22222;
}
.probootstrap-right-nav li a:hover{
  font-size: 18px;
  font-weight: bold;
  color:#f00;
}
.probootstrap-main-nav li a {
  font-weight: 700;
  padding: 10px 0;
  color: rgba(0,71,133,0.8);
  font-size: 16px;
  text-decoration: none;
}

.probootstrap-main-nav li a:hover {
  color: #066D3E;
}

.probootstrap-mobile-menu-active.show .probootstrap-main-nav li a {
  color: #fff;
}

.probootstrap-mobile-menu-active .probootstrap-main-nav li a {
  color: #00213D;
  margin-bottom: 10px;
  padding: 10px 0;
  display: block;
}


/*footer*/

footer {
  padding: 1em 0;
  color: #fff;

  background: #fff;
  background: -webkit-linear-gradient(top, #363636, #000);
  background: -o-linear-gradient(top, #363636, #000);
  background: -moz-linear-gradient(top, #363636, #000);
  background: linear-gradient(top, #363636, #000);
}

.slides-text {
  padding-top: 10%;
  margin: 0 auto;
}

.slides-text a{
  display: block;
  margin: 5%;
  padding: 2%;
  border:1px solid rgba(0,71,133,0.8);
  background-color: rgba(0,71,133,0.8);
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.slides-text a:hover{
  background-color: #066D3E;
  border:1px solid #066D3E;
  color:#fff;
  opacity: 0.7;
  font-size: 18px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.probootstrap-slider ul li{
  background-image: url(../img/header.jpg);
  filter: opacity(30%); 
}

@media screen and (max-width: 768px) {
  .slides-text h2 {
    font-size: 30px;
  }
}

.slides-text p {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .slides-text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .slides-text {
    padding-top: 130px;
  }
}